.hero{
    display:flex;
    align-items:center;
    height:180px;
    background:linear-gradient(to right,#04505e,#ad5d74);
    color:white;
    padding:0 5%;
}


.hero h1 {
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 8px;
}

.hero h5 {
    font-size: 22px;
    color: #d9d9d9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
