
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.navbar {
    padding: 15px 0;
    position:sticky;

}

.navbar-brand {
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white !important;
    margin-left: 40px;
}
.navbar-brand:hover{
    color: white;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.8) !important; 
    font-weight: 500;
    padding: 8px 14px !important;
    border-radius: 8px;
    transition: 0.3s ease;
}

.nav-link:hover {

    color: white;
    background: rgb(131, 53, 53);
    padding: 15px;
    border-radius: 10px;
    width:auto;
    
}
.custom-navbar .nav-link.active {
    background-color:  rgb(131, 53, 53);
    border-radius: 10px;
     padding: 15px;
    color: #ffffff !important;
}


.custom-navbar {
    background-color: #1b2631;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 30px;
    padding:8px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}
body{
    padding-top: 50px;
}


@media (max-width:768px){

    .custom-navbar{
        min-height:60px;
    }

    .navbar-brand{
        font-size:26px;
        margin-left:15px;
    }

    .nav-link{
        font-size:16px;
        margin-right:0;
    }

    .hero{
        height:140px;
        padding:0 20px;
    }

    .hero h1{
        font-size:36px;
    }

    .hero h5{
        font-size:18px;
    }

}